{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

{{ partial "logo.html" . }}

<section id="gallery">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<aside>
					<div class="list-group">
						{{ range $name, $taxonomy := .Site.Taxonomies.galleries }}
							<a href="/galleries/{{ $name | urlize }}" class="list-group-item">{{ $name }}</a>
						{{ end }}
					</div>
				</aside>
			</div>
			<div class="col-md-9">
				<div class="row">
				{{ range .Data.Pages }}
					<div class="col-md-4">
						<a href="#" class="thumbnail">
							<img src="{{.Params.gallery_path}}{{ .Params.image }}" class="img-responsive">
						</a>
					</div>
				{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>

{{ partial "copyright" . }}

{{ partial "footer.html" . }}
