{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

{{ partial "logo-content.html" . }}

<section id="gallery">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<!-- Start Page Header -->
				<div class="row">
					<div class="col-sm-12">
						<h1 class="page-header">Latest {{ .Title }}</h1>
					</div>
				</div>
				<!-- End Page Header -->
			</div>
		</div>
		<div class="row">

			<div class="col-md-9">
				<div class="row mg-popup">
				{{ range (.Paginate ( .Data.Pages )).Pages }}
					<div class="col-md-3 col-sm-4 col-xs-6">
						<a href="{{.Params.gallery_path}}{{ .Params.image }}" class="thumbnail">
							<img src="{{.Params.gallery_path}}thumb/{{ .Params.image }}" class="img-responsive img-rounded">
						</a>
					</div>
				{{ end }}
				</div>
				<div class="row">
					<div class="col-sm-12 text-center">
						{{ template "_internal/pagination.html" . }}
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<aside>
					<div class="row">
						<div class="col-sm-12">
							<h2>Galleries</h2>
						</div>
					</div>
					<div class="list-group">
						{{ range $name, $taxonomy := .Site.Taxonomies.galleries }}
							<a href="/galleries/{{ $name | urlize }}" class="list-group-item">{{ $name }}</a>
						{{ end }}
					</div>
				</aside>
			</div>
		</div>
	</div>
</section>

{{ partial "copyright" . }}

{{ partial "footer.html" . }}
