#latest-images {

	h2 {
		text-align: center;
	}

	background: url('/assets/images/theme/page_content_bg.png') repeat;

	padding-bottom: 20px;

	.thumbnail {
		background-color: transparent;
		border: none;

		img {
			border: 2px solid #ffffff;
		}
	}

}
