h1, 
h1.page-header {
	color: @page-title-color;
	text-transform: uppercase;
	font-family: Exo, Helvetica;
}

h2 {
	color: @heading-2-color;
	text-transform: uppercase;
	font-family: Exo, Helvetica;
}
h3 {
	font-family: Exo, Helvetica;
	color: @heading-3-color;
	text-transform: uppercase;
}
h4 {
	color: @heading-4-color;
}
h5 {
	color: @heading-5-color;
}

a {
	color: @link-color;
}
