@theme-col-1: #FF6809;
@theme-col-2: #E83E09;
@theme-col-3: #FF1B03;
@theme-col-4: #E80930;
@theme-col-5: #FF09B0;


@page-title-color: @theme-col-2;
@heading-2-color: @theme-col-2;
@heading-3-color: @theme-col-1;
@heading-4-color: @theme-col-1;
@heading-5-color: @theme-col-1;

@link-color: @theme-col-3;

