<!-- Divisions -->
<section id="resources">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<h2 class="section-title">
					Divisions
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="resource-icon">
					<img src="assets/images/divisions/stock-photo-64751759-exhaust-pipe.jpg" class="img-responsive img-rounded">
				</div>
				<h3>Cheetah Exhaust</h3>
				<p>
					Cheetah Exhaust has been operating since 1990, and have accumulated knowledge and experience in the aftermarket exhaust industry. We specialize in Performance Exhaust systems and are leaders in the custom build industry...
				</p>
			</div> 
			<div class="col-sm-4">
				<div class="resource-icon">
					<img src="assets/images/divisions/stock-photo-66277287-cogwheels-mechanism-counter.jpg" class="img-responsive img-rounded">
				</div>
				<h3>Franson Manufacturing</h3>
				<p>
					Our Manufacturing division fabricates all of the products we supply. With the capacity to manufacture our own Silencers and Branches we control the outcome and direct the result to our customers advantage. Furthermore we manufacture a wide range of other products...
				</p>
			</div>
			<div class="col-sm-4">
				<div class="resource-icon">
					<img src="assets/images/divisions/stock-photo-15111345-off-roading-thrill.jpg" class="img-responsive img-rounded">
				</div>
				<h3>Extreme Off Road Designs</h3>
				<p>
					Our latest endeavour was born out of the need for custom accessories and solutions on Off Road and Leisure Vehicles. Where there is a need, we have a solution...
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<a href="#" class="btn btn-default">Read More</a>
			</div>
			<div class="col-sm-4">
				<a href="#" class="btn btn-default">Read More</a>
			</div>
			<div class="col-sm-4">
				<a href="#" class="btn btn-default">Read More</a>
			</div>
		</div>
	</div>
</section>
