<!-- Logo and Slogan -->
<section id="logo-content">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="visible-md-block visible-lg-block text-left logo">
					<a href="/"><img src="/assets/images/theme/logo.png" class="img-responsive"></a>
				</div>
				<div class="visible-xs-block visible-sm-block text-center logo">
					<img src="/assets/images/theme/logo.png">
				</div>
			</div>
			<div class="col-md-10">
				<h1 class="hidden-xs hidden-sm text-right">
					Quality Steel Manufacturing
				</h1>
				<h1 class="hidden-md hidden-lg text-center">
					Quality Steel Manufacturing
				</h1>
				<p class="hidden-xs hidden-sm text-right">
					Manufacturer of quality vehicle exhausts, towbars, bullbars, cattle rails and custom parts.
				</p>
				<p class="hidden-md hidden-lg text-center">
					Manufacturer of quality vehicle exhausts, towbars, bullbars, cattle rails and custom parts.
				</p>
			</div>
		</div>
	</div>
</section>
